# Project
COMPOSE_PROJECT_NAME=movie-rec

# API
API_PORT=8000

# MySQL
MYSQL_IMAGE_TAG=8.0.36
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=localroot
MYSQL_DATABASE=movies
MYSQL_USER=movies
MYSQL_PASSWORD=moviespass

# Redis
REDIS_IMAGE_TAG=7.2.4
REDIS_PORT=6379

# Elasticsearch
ELASTICSEARCH_IMAGE_TAG=8.12.2
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_JAVA_OPTS=-Xms512m -Xmx512m

# Zookeeper
ZOOKEEPER_IMAGE_TAG=3.9.2
ZOOKEEPER_PORT=2181

# Kafka
KAFKA_IMAGE_TAG=3.6.2
KAFKA_HOST_PORT=9094

# MinIO
MINIO_IMAGE_TAG=RELEASE.2024-05-10T01-41-38Z
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Spark
SPARK_IMAGE_TAG=3.5.0
SPARK_MASTER_UI_PORT=8080
SPARK_MASTER_PORT=7077
SPARK_WORKER_UI_PORT=8081
SPARK_DRIVER_UI_PORT=4040
